body {
	background-color: orange;
	margin: 0px;
}

ul {
	list-style: none;
	margin-top: 0px;
}

nav	{
	background-color: white;
	height: 40px;

}

li {
	display: inline;
}

img {
	max-width: 200px;
}

table, th, td {
	border: 1px	solid black;
}
table {
	margin: auto;
}

.center-text {
	text-align: center;
}